---
title: echo Sven\'s thoughts &gt; noyainrain.github.io
description: Sven's personal website
---

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width: device-width, initial-scale=1" />
        <meta
            name="description"
            content="{{ page.description | default: page.excerpt | default: layout.description | strip_html }}" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ layout.title }}</title>
        <link rel="stylesheet" href="/assets/noya.css" />
    </head>

    <body>
        <header class="noya-page-header">
            <div class="noya-page-header-content">
                <h1><a href="/">{{ layout.title }}</a></h1>
                <a class="noya-page-hire" href="/hire">
                    {% if site.available == true %}
                        <i class="fa fa-battery"></i>
                    {% elsif site.available == false %}
                        <i class="fa fa-battery-empty"></i>
                    {% else %}
                        <i class="fa fa-battery-half"></i>
                    {% endif %}
                    Hire
                </a>
            </div>
        </header>

        <div class="noya-page-content">
            {{ content }}
        </div>
    </body>
</html>
